html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: #F1F1F1; 
  font-family: 'Lato';
  margin-bottom: 60px;
}
       
.fa-btn {
  margin-right: 6px;
}

a:link {
    text-decoration: none;
}
.no-bullet
{
    list-style-type: none;
}

footer { 
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
  background-color: #E9EAED;
  text-align: center;
 }

 
.blink {
color: red;
  animation: blink 1s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

.modal-content {
  background-color: #0480be;
  color: navy;
}
.modal-body {
  background-color: #fff;

}
.panelColor{
  color: white;
}
.panelColorGreen{
  color: #337AB7;
}
.panelColorRed{
  color: #B1103C;
}



#card-div{
  text-align: center;
  
  margin: 16px;
  height: 50px;
  

}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #D9EDF7;
}
.tachado{
	text-decoration:line-through;
	color: #FF5151;
}
.chosen-choices{
     min-width: 200px;
 }

 .ui-autocomplete {
   position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}

.ui-state-focus
{
    color:White;
    background:#2980B9;
    outline:none;
    width: 100%; 
}
.ui-helper-hidden-accessible { display:none; }

.ui-highlight .ui-state-default{
      background: red !important;
      border-color: red !important;
      color: white !important;
      border-style: dashed;
      border-width: 5px;
      border-radius: 4px 4px 4px 4px;
      

}
.ui-highlight-permiso .ui-state-default{
      background: grey !important;
      border-color: grey !important;
      color: white !important;
      border-style: dashed;
      border-width: 4px;
      border-radius: 4px 4px 4px 4px;
      

}
th.ui-datepicker-week-end,
td.ui-datepicker-week-end {
    display: none;
}

.font-border{
 color: yellow;
 text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}